<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <button mat-button>Button 1</button>
    <button mat-button>Button 2</button>
    <button mat-button>Button 3</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-form-field>
    <input matInput [(ngModel)]="answer" placeholder="Who has the best dev tutorials?" type="text">
  </mat-form-field>
  <br/>
  <button mat-raised-button (click)="showAnswer()">Answer Me</button>
  <mat-spinner [style.display]="showSpinner ? 'block': 'none'"></mat-spinner>
</mat-card>
<mat-card *ngIf="answerDisplay">
  <h1>{{answerDisplay}}, you're damn right!</h1>
</mat-card>