.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.mat-form-field {
    width: 100%;
}
.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}